*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#212529;
}
.container{
    display:flex;
    height:500px;
    width:800px;
    border:0.2px solid rgb(66, 57, 57);
    border-radius: 20px;
    margin:auto;
    margin-top: 7.5%;
    box-shadow:15px 15px 50px #000000a1;
    background-color: #ffffff;
}
.form{
    display:flex;
    flex-direction:column;
    width:50%;
    align-items:center;
    /* background-color:whitesmoke; */
}
.form h2{
    font-size:3rem;
    font-family:sans-serif;
    margin:40px;
}
.box{
    padding:12px;
    width:65%;
    margin:15px;
    border:1px solid black;
    border-radius:20px;
}
#submit{
    padding:12px 30px;
    width:40%;
    margin-top:40px;
    background-color:black;
    color:white;
    font-weight:bold;
    border:none;
    outline:none;
    border-radius:20px;
}
#submit:hover
{
    cursor:pointer;
    opacity:.8;
}
.form a{
    text-decoration:none;
    color:blue;
    margin-top:20px;
}
.form a:hover{
    color:black;
}
.side{
    display:flex;
    justify-content:center;
    align-items:center;
    width:50%;
    /* background-color: #212529; */
}
.side img
{
    width:450px;
    height:450px;
}