/* ================================================= */
/* -------------------- Popup CSS ------------------ */
/* ================================================= */

.popup {
  width: 80% !important;
  height: 80% !important;
  display: block;
  
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

/* Popup styles */
.popup {
    position: fixed;
    margin-left: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    background: rgb(255, 255, 255);
    /* background: rgb(13,136,76); */
    /* background: linear-gradient(90deg, rgba(13,136,76,1) 0%, rgba(15,201,115,1) 52%, rgba(15,201,115,1) 100%, rgba(13,136,76,1) 192%); */
    border: 1px solid #cccccc;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    display: none;
    z-index: 9999;
    /* color: white; */
  }

  /* Close button styles */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
  }

  /* Profile icon styles */
  .profile-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }
  .pop-prof-mar{
      margin-left: 20px;
  }

  .pop-mar{
    margin: 2% 8% 2% 8%;
  }

/* calculator */
  .calculator-keys{
    margin: 10% !important;
}

  .btn{
    color: white !important;
    background-color: transparent !important;
    border: transparent !important;
}
